# Hidden credentials
.env
.env.local

#Dependency directories
node_modules/

#Build output folder
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db


uploads/